!! [options]
! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

!! Xft.dpi: 96
Xft.autohint: 0
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb

! ------------------------------------------------------------------------------
! URxvt Fonts
! ------------------------------------------------------------------------------

URxvt*font:                xft:JetBrains Mono:bold:size=9.5:antialias=true:hinting=true, \
                           xft:Noto Emoji:pixelsize=6:minspace=False:antialias=false, \
                           xft:Symbola:pixelsize=6:minspace=False:antialias=False
URxvt*boldFont:            xft:JetBrains Mono:bold:size=9.5:antialias=true:hinting=true
URxvt*italicFont:          xft:JetBrains Mono:italic:size=9.5:antialias=true:hinting=true
URxvt*boldItalicFont:      xft:JetBrains Mono:bold:italic:size=9.5:antialias=true:hinting=true

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

!! Rxvt-unicode
Xcursor*theme:             LinGruby-drop
Xcursor*size:              0
URxvt*termName:            rxvt-unicode-256color
URxvt*buffered:            false
URxvt*intensityStyles:     false
URxvt*imLocale:            pl_PL.UTF-8
URxvt*geometry:            125x45
URxvt*letterSpace:         -1
URxvt*lineSpace:           -1
URxvt*saveLines:           15000
URxvt*cursorUnderline:     true
URxvt*cursorBlink:         true
URxvt*internalBorder:      2
URxvt*externalBorder:      2
URxvt*scrollBar:           false
URxvt*loginShell:          true
URxvt*fading:              0
URxvt*perl-ext-common:     default,matcher,clipboard
URxvt*url-launcher:        vivaldi-snapshot
URxvt*matcher.button:      1
URxvt*colorUL:             #729fcf
URxvt.underlineURLs:       true
URxvt.scrollBar:           false
URxvt*scrollBar_right:     false
URxvt*transparent:         false
URxvt*depth:               32
*antialias:                true
*autohint:                 true
URxvt*clipboard.autocopy:  true
URxvt*keysym.S-C-C:        perl:clipboard:copy
URxvt*keysym.S-C-V:        perl:clipboard:paste
Rxvt*iso14755:             false
URxvt*iso14755_52:         false
URxvt*skipBuiltinGlyphs:   true

! ------------------------------------------------------------------------------
! URxvt Colors
! ------------------------------------------------------------------------------

! special
URxvt*foreground:          #CCCCCC
URxvt*background:          [80]#080808
URxvt*cursorColor:         #1793D1
URxvt*colorBD:             #729fcf

! black
URxvt*color0:       #292929
URxvt*color8:       #494949

! red
URxvt*color1:       #902625
URxvt*color9:       #902625

! green
URxvt*color2:       #97a293
URxvt*color10:      #97a293

! yellow
URxvt*color3:       #c29f6f
URxvt*color11:      #c29f6f

! blue
URxvt*color4:       #5e606c
URxvt*color12:      #5e606c

! magenta
URxvt*color5:       #7a6054
URxvt*color13:      #7a6054

! cyan
URxvt*color6:       #78746c
URxvt*color14:      #78746c

! white
URxvt*color7:       #bababa
URxvt*color15:      #bababa

! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

! Rofi
rofi.font: JetBrains Mono 9.5

! ------------------------------------------------------------------------------
! XTerm:UXterm configs
! ------------------------------------------------------------------------------

!! XTerm:UXterm
XTerm*renderFont: true
XTerm*faceName: xft:JetBrains Mono
XTerm*faceSize: 9.5
XTerm*utf8: 2
XTerm*locale: true
XTerm*loginShell: true

! ------------------------------------------------------------------------------
! Colors XTerm:UXterm
! ------------------------------------------------------------------------------

! special
XTerm*background:   #0d0d0d
XTerm*foreground:   #a0a0a0
XTerm*cursorColor:  #a0a0a0

! black
XTerm*color0:       #0d0d0d
XTerm*color8:       #78746c

! red
XTerm*color1:       #db0000
XTerm*color9:       #db0000

! green
XTerm*color2:       #00b000
XTerm*color10:      #00b000

! yellow
XTerm*color3:       #a9b000
XTerm*color11:      #a9b000

! blue
XTerm*color4:       #1793D1
XTerm*color12:      #1793D1

! magenta
XTerm*color5:       #a900cb
XTerm*color13:      #a900cb

! cyan
XTerm*color6:       #00b0cb
XTerm*color14:      #00b0cb

! white
XTerm*color7:       #D8D8D8
XTerm*color15:      #D8D8D8

! ------------------------------------------------------------------------------
! st configs
! ------------------------------------------------------------------------------

!! Transparency (0-1):
st.alpha: 0.85

!! Set a default font and font size as below:
st.font: JetBrains Mono:extrabold:pixelsize=11.5:antialias=true:hinting=true

! st.termname: st-256color
! st.borderpx: 2

!! Set the background, foreground and cursor colors as below:

! ------------------------------------------------------------------------------
! st Colors
! ------------------------------------------------------------------------------

! special
st*background:   #0d0d0d
st*foreground:   #a0a0a0
st*cursorColor:  #a0a0a0

!! st-night:

! black
st*color0:       #292929
st*color8:       #494949

! red
st*color1:       #902625
st*color9:       #902625

! green
st*color2:       #97a293
st*color10:      #97a293

! yellow
st*color3:       #c29f6f
st*color11:      #c29f6f

! blue
st*color4:       #5e606c
st*color12:      #5e606c

! magenta
st*color5:       #7a6054
st*color13:      #7a6054

! cyan
st*color6:       #78746c
st*color14:      #78746c

! white
st*color7:       #bababa
st*color15:      #bababa

! ------------------------------------------------------------------------------
! Custom xnedit
! ------------------------------------------------------------------------------

*highlightColor: #4a90d9

*XmDialogShell.background:	#050505
*XmDialogShell.foreground:	#CCCCCC

*XmForm.background:	#050505
*XmForm.foreground:	#CCCCCC

*XmFrame.background:	#050505
*XmFrame.foreground:	#CCCCCC

*XmPanedWindow.background:	#050505
*XmPanedWindow.foreground:	#CCCCCC

*XmRowColumn.background:	#050505
*XmRowColumn.foreground:	#CCCCCC

*XmMenuShell.background:	#050505
*XmMenuShell.foreground:	#CCCCCC

*XmMessageBox.background:	#050505
*XmMessageBox.foreground:	#CCCCCC

*XmScrollBar.background:	#050505
*XmScrollBar.foreground:	#CCCCCC
*XmScrollBar:           false

*XmScrolledWindow.background:	#050505
*XmScrolledWindow.foreground:	#CCCCCC

*XmSelectionBox.background:	#050505
*XmSelectionBox.foreground:	#CCCCCC



*XmLabel.background:	#050505
*XmLabel.foreground:	#CCCCCC
*XmLabelGadget.background:	#050505
*XmLabelGadget.foreground:	#CCCCCC

*XmPushButton.background:	#050505
*XmPushButton.foreground:	#CCCCCC
*XmPushButtonGadget.background:	#050505
*XmPushButtonGadget.foreground:	#CCCCCC
*XmPushButton.highlightThickness: 2

*XmCascadeButton.background:	#050505
*XmCascadeButton.foreground:	#CCCCCC
*XmCascadeButtonGadget.background:	#050505
*XmCascadeButtonGadget.foreground:	#CCCCCC
*XmCascadeButtonGadget.highlightThickness: 2

*XmTearOffButton.background:	#050505
*XmTearOffButton.foreground:	#CCCCCC
*XmTearOffButtonGadget.background:	#050505
*XmTearOffButtonGadget.foreground:	#CCCCCC
*XmTearOffButtonGadget.highlightThickness: 2

*XmToggleButton.background:	#050505
*XmToggleButton.foreground:	#CCCCCC
*XmToggleButtonGadget.background:	#050505
*XmToggleButtonGadget.foreground:	#CCCCCC
*XmToggleButtonGadget.highlightThickness: 2

*XmSeparator.background:	#050505
*XmSeparator.foreground:	#CCCCCC
*XmSeparatorGadget.background:	#050505
*XmSeparatorGadget.foreground:	#CCCCCC

*XmList.background:	#050505
*XmList.foreground:	#CCCCCC

*XmSash.background:	#050505
*XmSash.foreground:	#CCCCCC

*XmText.foreground:	#CCCCCC
*XmText.background:	#050505

*XmTextField.foreground:	#CCCCCC
*XmTextField.background:	#050505


*TextWidget.background: #050505


*enableEtchedInMenu:	True
*enableMenuInCascade:	True
*enableThinThickness:	True
*ScrollbarBackground:	#050505
*Scrollbar:           false

*foreground: #CCCCCC
*background: #050505


*text.background: #CCCCCC


! ------------------------------------------------------------------------------
! Custom Colors
! ------------------------------------------------------------------------------

/* !! gruvbox: */
/* *.color0: #1d2021 */
/* *.color1: #cc241d */
/* *.color2: #98971a */
/* *.color3: #d79921 */
/* *.color4: #458588 */
/* *.color5: #b16286 */
/* *.color6: #689d6a */
/* *.color7: #a89984 */
/* *.color8: #928374 */
/* *.color9: #fb4934 */
/* *.color10: #b8bb26 */
/* *.color11: #fabd2f */
/* *.color12: #83a598 */
/* *.color13: #d3869b */
/* *.color14: #8ec07c */
/* *.color15: #ebdbb2 */

/* !! gruvbox light: */
/* *.color0: #fbf1c7 */
/* *.color1: #cc241d */
/* *.color2: #98971a */
/* *.color3: #d79921 */
/* *.color4: #458588 */
/* *.color5: #b16286 */
/* *.color6: #689d6a */
/* *.color7: #7c6f64 */
/* *.color8: #928374 */
/* *.color9: #9d0006 */
/* *.color10: #79740e */
/* *.color11: #b57614 */
/* *.color12: #076678 */
/* *.color13: #8f3f71 */
/* *.color14: #427b58 */
/* *.color15: #3c3836 */

/* !! brogrammer: */
/* *.foreground:  #d6dbe5 */
/* *.background:  #131313 */
/* *.color0:      #1f1f1f */
/* *.color8:      #d6dbe5 */
/* *.color1:      #f81118 */
/* *.color9:      #de352e */
/* *.color2:      #2dc55e */
/* *.color10:     #1dd361 */
/* *.color3:      #ecba0f */
/* *.color11:     #f3bd09 */
/* *.color4:      #2a84d2 */
/* *.color12:     #1081d6 */
/* *.color5:      #4e5ab7 */
/* *.color13:     #5350b9 */
/* *.color6:      #1081d6 */
/* *.color14:     #0f7ddb */
/* *.color7:      #d6dbe5 */
/* *.color15:     #ffffff */
/* *.colorBD:     #d6dbe5 */

/* ! base16 */
/* *.color0:       #181818 */
/* *.color1:       #ab4642 */
/* *.color2:       #a1b56c */
/* *.color3:       #f7ca88 */
/* *.color4:       #7cafc2 */
/* *.color5:       #ba8baf */
/* *.color6:       #86c1b9 */
/* *.color7:       #d8d8d8 */
/* *.color8:       #585858 */
/* *.color9:       #ab4642 */
/* *.color10:      #a1b56c */
/* *.color11:      #f7ca88 */
/* *.color12:      #7cafc2 */
/* *.color13:      #ba8baf */
/* *.color14:      #86c1b9 */
/* *.color15:      #f8f8f8 */

/* !! solarized */
/* *.color0:	#073642 */
/* *.color1:	#dc322f */
/* *.color2:	#859900 */
/* *.color3:	#b58900 */
/* *.color4:	#268bd2 */
/* *.color5:	#d33682 */
/* *.color6:	#2aa198 */
/* *.color7:	#eee8d5 */
/* *.color9:	#cb4b16 */
/* *.color8:	#fdf6e3 */
/* *.color10:	#586e75 */
/* *.color11:	#657b83 */
/* *.color12:	#839496 */
/* *.color13:	#6c71c4 */
/* *.color14:	#93a1a1 */
/* *.color15:	#fdf6e3 */

/* !! xterm */
/* *.color0:   #000000 */
/* *.color1:   #cd0000 */
/* *.color2:   #00cd00 */
/* *.color3:   #cdcd00 */
/* *.color4:   #0000cd */
/* *.color5:   #cd00cd */
/* *.color6:   #00cdcd */
/* *.color7:   #e5e5e5 */
/* *.color8:   #4d4d4d */
/* *.color9:   #ff0000 */
/* *.color10:  #00ff00 */
/* *.color11:  #ffff00 */
/* *.color12:  #0000ff */
/* *.color13:  #ff00ff */
/* *.color14:  #00ffff */
/* *.color15:  #aabac8 */
